.logo-esquerda {
    display: block;
    max-width: 150px
    width: 100px
    margin: 0 auto 0 0;
    height: auto;
    
}

iframe {
    width: 100%; /* Ocupa toda a largura do contêiner */
    max-width: 100%; /* Limita a largura máxima para a tela */
    height: 70vh; /* Define a altura como 70% da altura da viewport */
    border: 1px solid #ddd; /* Borda em torno do iframe (opcional) */
    border-radius: 8px; /* Arredondamento dos cantos */
}

body, html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
