.logo-esquerda {
    display: block;
    max-width: 150px
    width: 50px
    margin: 0 auto 0 0;
    height: auto;
    
}


iframe {
    width: 100%; /* Ocupa toda a largura do contêiner */
    max-width: 100%; /* Limita a largura máxima para a tela */
    height: 70vh; /* Define a altura como 70% da altura da viewport */
    border: 1px solid #ddd; /* Borda em torno do iframe (opcional) */
    border-radius: 8px; /* Arredondamento dos cantos */
}

body, html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}


header {
    padding: 1rem; /* Padding padrão para desktops */
}

@media (max-width: 768px) {
    /* Aumenta o padding em telas menores */
    header {
        padding: 1.5rem;
    }
    .logo-esquerda{
        max-height: 100%;
        height: auto%;
        width: 100%;
    }
}

.planilha_oport{
    position: relative;     /* Permite controle da largura total */
    left: 50%;              /* Centraliza o elemento na viewport */
    width: 90vw;           /* 100% da largura da viewport */
    max-width: 90vw;       /* Limita a largura máxima à viewport */
    transform: translateX(-50%); /* Move o iframe para o centro */
    height: 70vh;           /* Define a altura como 70% da viewport */
    border: 1px solid #ddd; /* Opcional: borda ao redor do iframe */
    border-radius: 8px;     /* Opcional: arredondamento dos cantos */

}